<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/assets/styles/addbook.css" />
  </head>
  <body>
    <div class="outer">
      <div align="center" class="container">
        <form action="/addbook" method="POST" name="form3">
          <fieldset>
            <legend>Add karlo</legend>
            <label for="name">Book Name:</label><br />
            <input align="center" type="text" id="name" name="name" />
            <br /><br />
            <label for="genre">Book Genre:</label><br />
            <input align="center" type="text" id="genre" name="genre" />
            <br /><br />
            <input type="submit" value="Submit" id="subbtn" />
          </fieldset>
        </form>
      </div>
    </div>
  </body>
</html>


