{% extends "templates/base.twig" %}

{% block title %}
admin home
{% endblock %}
{% block nav %}
<div class="topnav">
  <a href="/addbooklink">Add Book </a>
  <a href="/ahome"> Approve Requests</a>
  <a href="/logout">Log Out</a>       
</div>
{% endblock %}
{% block body %}

    {% for book in books %}
    <div class="one">

      <div class="box">
        <p class="text">{{ book.name }}</p>
      </div>
      <div class="whitebox">
        <p class="describe">{{ book.email }}<br /></p>
      </div>
      <div class="buttonalign">
      <a href="/approve?id={{ book.id }} " class="button">Approve</a>
      <a href="/disapprove?id={{ book.id }} " class="button2">Decline</a>
    </div>
    </div>
    {% endfor %}

{% endblock %}