<!DOCTYPE html>
<html lang="en">
  <head>
    {% include("templates/head.twig") %}
    <title>
      {% block title %}{% endblock %}
    </title>
  </head>
  <body>
    <div class="topnav">
        <a href="/home">Home</a>
        <a href="/seecheckout">Your Books </a>
        <a href="/viewrequest"> View requests </a>
        <a href="/logout"> Log Out</a>
    </div>
    {% block body %}
    {% endblock %}
  </body>
</html>