{% extends "templates/base.twig" %}

{% block title %}
<h1>KAHA TIME BARBAAD KARNA CHAHOGE?</h1>
{% endblock %}

{% block body %}
  <div class="container">
    {% for book in books %}
      <div class="one">
        <div class="box">
          <p class="text">{{ book.name }}</p>
        </div>
        <div class="whitebox">
          <p class="describe">{{ book.genre }}<br /></p>
        </div>
        <a href="/checkout?id={{ book.id }} " class="button">Check Out</a>
      </div>
    {% endfor %}
  </div>
{% endblock %}