{% extends "templates/base.twig" %}

{% block title %}

{% endblock %}

{% block nav %}
<div class="topnav">
  <a href="/home">Home</a>
  <a href="/seecheckout">Your Books </a>
  <a href="/viewrequest"> View requests </a>
  <a href="/logout"> Log Out</a>
</div>
{% endblock %}
{% block body %}
 
    {% for book in books %}
      <div class="one">
        <div class="box">
          <p class="text">{{ book.name }}</p>
        </div>
        <div class="whitebox">
          <p class="describe">{{ book.genre }}<br /></p>
        </div>
        <a href="/checkout?id={{ book.id }} " class="button">Check Out</a>
      </div>
    {% endfor %}

{% endblock %}
