<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/assets/styles/index.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Calligraffitti"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="name">
        <h1>LIBRAR.io</h1>
      </div>
    </div>
    <div class="login">
      <div class="student">
        <div>
          <p><b>LogIn</b></p>
        </div>
        <div>
          <a href="/loginviaimg"
            ><img id="redlog" src="/assets/images/redlog.png"
          /></a>
        </div>
      </div>
      <div class="admin">
        <p><b>Register</b></p>
        <div>
          <a href="/registerviaimg"
            ><img id="bluelog" src="/assets/images/bluelog.png"
          /></a>
        </div>
      </div>
    </div>
    <div class="quote">
      <p id="slogan">
        Fifty shades hi padhni ho toh
        <a href="https://www.youtube.com/watch?v=gT7MQhe8gRE">click here</a>,
        don't bother going ahead xD
      </p>
    </div>
  </body>
</html>
