
body {
   background-color: #adefd1ff;
  }

  .box {
    background: #00203fff;
    border: 10px;
    border-color: white;
    color: white;
    border-style: solid;
    text-align: center;

  }

  .text {
    font-size: 30px;
    font-family: fantasy;
    align-self: center;
  }

  .pic {
    height: 20rem;
    width: 20rem;
    border: 10px;
    color: aliceblue;
    border-style: double;
  }

  .buttonalign{
    display: flex;
    justify-content: space-around;
  }

  h1 {
    color: orangered;
  
    filter: drop-shadow(10px);
    text-align: center;
    margin-top: 4rem;
  }

  .container {
    flex-direction: column;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 200px;
   }

  .topnav input[type="text"] {
    float: right;
    padding: 14px 16px;
    border: 2px;
    color: blue;
    font-size: 17px;
  }

  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #4caf50;
    align-self: center;
  }

  .button2 {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #e92a09;
    align-self: center;
  }

  #buttoncheckin {
    background-color: #008cba;
  }

  .whitebox {
    background-color: black;
    color: azure;
    text-align: center;
    font-size: 20px;
  }

  a {
    float: right;
    font-size: 2rem;
    color: #002d66;
    z-index: 3;
  }

  .outer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .topnav input[type="text"] {
    float: right;
    padding: 14px 16px;
    border: 2px;
    color: blue;
    font-size: 17px;
  }

  .topnav a{
    color:black;
    text-decoration: none;
  }

  .topnav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    color: white;
    background-color: rgba(255,255,255,0.7);
    backdrop-filter: blur(15px);
    top: 0;
    height: 70px;
    align-items:center;
    width: 100%;
  }

  .one{
    width:50%; 
  }